@font-face {
    font-family: "Vazir";
    src: url('../fonts/Vazir-FD.eot');
    src: url('../fonts/Vazir-FD.eot') format('FontName-opentype'), url('../fonts/Vazir-FD.woff') format('woff'), url('../fonts/Vazir-FD.woff2') format('woff2'), url('../fonts/Vazir-FD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Vazir';
}

.form-group{
    margin-bottom:15px!important;
}

.control-label{
    margin-bottom:8px!important;
}

.img-thumbnail {
    max-height: 200px;
}