@model Microservice.BookStore.Models.DTOs.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-5">
        <div class="card">
            <div class="card-title mx-3 mt-3">
                <h1 class="text-primary">
                    ورود به سایت
                </h1>
            </div>
            <hr/>
            <div class="card-body">
                <form asp-action="Login" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control"/>
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" asp-for="RemmberMe" class="form-check-input">
                        <label class="form-check-label" asp-for="RemmberMe"></label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="ورود" class="btn btn-primary px-5" style="float:left;"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}